body { margin: 0; }

canvas { width: 100vw; height: 100vh; display: block; }

#overlay {
  position: fixed;
  display: none;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000; /* Black background with opacity */
  z-index: 2;
}

.control-panel {
    position: absolute;
    height: fit-content;
    width: 300px;
    bottom: 0;
    right: 0;
    text-align: center;
    padding: 0 8px 12px;
    border-top-left-radius: 15px;
    background: rgba(255, 255, 255, 0.356)
}

.control-panel h2 {
    text-align: center;
    width: 100%;
    margin: 10px auto;
}

.script-panel {
    height: 200px;
    margin: 15px 0;
}

.script-panel textarea {
    display: inline-block;
    width: 150px;
    height: 100%;
    vertical-align: top;
    resize: none;
    margin: 0;
}

.script-panel div {
    display: inline-block;
    width: 100px;
    height: 100%;
    vertical-align: top;
}

.script-panel button {
    width: 100%;
    margin-bottom: 16px;
}

.triple-input input {
    width: 20%;
    margin: 0 15px;
}

.bring-front {
    position: relative;
    z-index: 1;
}

.vranges {
    width: 100%;
}

.vranges input[type=range] {
    width: 93px;
    margin: 0 2px 16px 2px;
    -webkit-appearance: none;
    -moz-box-shadow:    inset 0 0 3px 3px #eee;
    -webkit-box-shadow: inset 0 0 3px 3px #eee;
    box-shadow:         inset 0 0 3px 3px #eee;
}             

.vranges input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #4e4e4e;
    cursor: pointer;
}
