body { margin: 0; }

canvas { width: 100vw; height: 100vh; display: block; }

#overlay {
  position: fixed;
  display: none;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000; /* Black background with opacity */
  z-index: 2;
}

.control-panel {
    position: absolute;
    bottom: 40px;
    right: 40px;
    height: fit-content;
    width: 300px;
    text-align: center;
}

.control-panel h2 {
    text-align: center;
    width: 100%;
    margin: 10px auto;
}

.script-panel {
    height: 200px;
    margin: 15px 0;
}

.script-panel textarea {
    display: inline-block;
    width: 150px;
    height: 100%;
    vertical-align: top;
    resize: none;
    margin: 0;
}

.script-panel div {
    display: inline-block;
    width: 100px;
    height: 100%;
    vertical-align: top;
}

.script-panel button {
    width: 100%;
    margin: 10px;
}

.triple-angle input {
    width: 20%;
    margin: 10px;
}

.triple-pos input {
    width: 20%;
    margin: 0 10px;
}

.vranges {
    position: relative;
    width: 100%;
    height: 150px;
    transform-origin: 50% 100%;
    transform: rotate(-90deg) translate(50%, 50%);
    text-align: left;
}

.vranges div {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 50%;
    transform: translateY(-50%);
}

.vranges input {
    -webkit-appearance: none;
    appearance: none;
    width: 150px;
    height: 20px;
    background: #d3d3d3;
    outline: none;
    margin: 35px 0;
    border-radius: 12px;
}

.vranges input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #0088bb;
    cursor: pointer;
    border-radius: 12px;
}

.bring-front {
    position: relative;
    z-index: 1;
}