/* Author: Kausik Krishnakumar (2019) */

body { margin: 0; overflow: hidden; font-family: 'Roboto Mono', monospace; }

canvas { width: 100vw; height: 100vh; display: block; }

.about {
    position: absolute;
    top: 8px;
    left: 14px;
    margin: 0;
    text-align: center;
    color: #4e4e4e;
    font-size: 25px;
    font-weight: 600;
    user-select: none;
    cursor: pointer;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    text-align: center;
    visibility: hidden;
    background-color: white;
    transition: visibility 500ms, opacity 500ms;
}
.show-overlay {
   opacity: 1 !important;
   visibility: visible !important;
}

.close {
    position: absolute;
    line-height: 35px;
    height: 35px;
    width: 35px;
    top: 5px;
    left: 8px;
    font-size: 25px;
    cursor: pointer;
    user-select: none;
    color: #4e4e4e;
}

#control-panel {
    position: absolute;
    height: fit-content;
    width: 308px;
    padding: 0 8px 12px;
    bottom: 0;
    right: 0;
    color: #4e4e4e;
    text-align: center;
    border-top-left-radius: 15px;
    background: rgba(255, 255, 255, 0.4);
    transition: transform 600ms;
}
.collapse {
    transform: translateX(326px);
}

#control-panel h2 {
    text-align: center;
    width: 100%;
    margin: 10px auto;
    font-size: 20px;
}

.script-panel {
    height: 200px;
    margin: 8px 0 15px 0;
}

.script-panel textarea {
    display: inline-block;
    width: 150px;
    height: 100%;
    vertical-align: top;
    resize: none;
    white-space: nowrap;
    overflow-x: hidden;
    background: rgba(255, 255, 255, 0.466);
}

.script-panel div {
    display: inline-block;
    width: 100px;
    margin-left: 4px;
    height: 100%;
    vertical-align: top;
}

.script-panel button {
    width: 100%;
    margin-bottom: 20px;
    border: none;
    padding: 5px;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    transition: background-color 500ms;
}

.script-panel button:hover {
    background-color: #838282;
}

.triple-input input {
    width: 20%;
    margin: 0 15px;
}

.vranges {
    width: 100%;
}

.vranges input[type=range] {
    width: 90px;
    margin: 0 2px 16px 2px;
    -webkit-appearance: none;
    border: 1px solid rgb(148, 148, 148);
}             

.vranges input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    cursor: pointer;
    background: #4e4e4e;
}

.backshadow {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 33px);
    width: 100%;
    border-top-left-radius: 15px;
    box-shadow: -2px -2px 2px 0 rgb(141, 141, 141);
    pointer-events: none;
}

.toggle {
    position: absolute;
    line-height: 35px;
    height: 35px;
    width: 35px;
    bottom: 0;
    left: -35px;
    font-size: 25px;
    cursor: pointer;
    border-top-left-radius: 8px;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: -2px -2px 2px 0 rgb(141, 141, 141);
    user-select: none;
}
