body { margin: 0; }

canvas { width: 100vw; height: 100vh; display: block; }

.control-panel {
    position: absolute;
    border-radius: 5px;
    bottom: 40px;
    right: 40px;
    height: fit-content;
    width: 300px;
    text-align: center;
    background: #9aacb3;
}

.control-panel h2 {
    text-align: center;
    width: 100%;
    margin: 10px auto;
}

.script-panel {
    height: 250px;
    margin: 15px 0;
}

.script-panel textarea {
    display: inline-block;
    width: 150px;
    height: 100%;
    vertical-align: top;
    resize: none;
    margin: 0;
}

.script-panel div {
    display: inline-block;
    width: 100px;
    height: 100%;
    vertical-align: top;
}

.script-panel button {
    width: 100%;
    margin: 10px;
}

.triple-num input {
    width: 20%;
    margin: 10px;
}

.vranges {
    width: 100%;
    height: 200px;
    transform-origin: 50% 100%;
    transform: rotate(-90deg) translate(50%, 50%);
    text-align: left;
}

.vranges div {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 50%;
    transform: translateY(-50%);
}

.vranges input {
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    height: 20px;
    background: #d3d3d3;
    outline: none;
    margin: 35px 0;
    border-radius: 12px;
}

.vranges input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #0088bb;
    cursor: pointer;
    border-radius: 12px;
}
